@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
}

header {
  height: 31em;
  /* background: #000; */
}
.black {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
nav {
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1000;
  background: #fff;
  justify-content: space-around;
  transition: 1.5s;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin: 5px 10px;
}
nav ul li a {
  position: relative;
  padding: 0px 10px;
  color: #2e2e2e;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}

nav ul li a::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #fa4b37, #df2771);
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::after {
  transform: scale(1);
}

.active {
  color: #2e2e2e;
  border-radius: 5px;
}
.srch {
  padding: 2px 10px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* background: #0066ff; */
  border: 1px solid;
  border-radius: 20px;
}
.srch img {
  width: 25px;
  cursor: pointer;
}
.srch .search {
  /* padding: 2px 10px; */
  outline: none;
  border: none;
  background: transparent;
}

.get-started {
  margin-left: 50px;
  padding: 5px 20px;
  border: 2px solid rgb(238, 34, 34);
  border-radius: 20px;
  text-decoration: none;

  transition: 0.5s;
  background: linear-gradient(to right, #fa4b37, #df2771);
  color: #fff;
}
.get-started:hover {
  color: #2e2e2e;
  background: #fff;
}
.logo img {
  width: 120px;
  cursor: pointer;
  transition: all 1s;
}

a,
button {
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #2e3d49;
  display: block;
  text-decoration: none;
  text-align: center;
}
.head-container {
  margin-top: 245px;
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  align-items: center;
  justify-content: space-around;
}
.quote {
  width: 600px;
  transform: translateY(-50px);
}
.quote h5 {
  word-spacing: 2px;
  font-size: 1em;
  margin-top: 20px;
  color: #0009;
  line-height: 20px;
}
.quote p {
  align-self: flex-start;
  font-size: 2.3em;
  line-height: 1.2em;
  color: #2e2e2e;
}
.quote span {
  font-size: 1.7em;
  background: linear-gradient(to right, #f94a38, #df286f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.hero_image{
  padding-bottom: 6em;
}

.img-fluid  {
  width: 500px;
  border-radius: 50%;
  filter: drop-shadow(0 20px 10px rgba(0, 0, 0, 0.2));
}

/* SIDE MENU */
.menu {
  cursor: pointer;
  width: 25px;
  display: none;
}
.side-menu {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #fa4b37, #df2771);
  position: absolute;
  top: 0;
  transition: 0.8s;
  z-index: 2000;
  transform: translateX(-100%);
}
.side-menu ul {
  margin-top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 8%;
  /* background: #FA4B37; */
}
.side-menu ul li {
  list-style: none;
  /* background: #009900; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid #fff; */
  /* padding: 10px 0px; */
}
.side-menu ul li:hover a {
  background: #fff;
  color: #df2771;
}
.side-menu ul li a {
  color: #fff;
  width: 100%;
  font-size: 1em;
  /* background: #2E3D49; */
  text-decoration: none;
  padding: 15px 0px;
}
.close img {
  float: right;
  width: 35px;
  cursor: pointer;
  margin: 10px;
}
.user {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.user img {
  width: 10em;
  filter: drop-shadow(0 0px 8px rgba(250, 241, 241, 0.967));
  margin: 0 auto;
  cursor: pointer;
}
.user p {
  color: #fff;
  cursor: pointer;
}
.user img,
.user p {
  opacity: 1;
}
/*Common things in all sections*/
#about_section,
#portfolio_section,
#team_section,
#services_section,
#contactus_section {
  font-family: "Open Sans", sans-serif;
  color: #2e3d49;
  position: relative;
}

#portfolio_section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*PORTFOLIO*/
.diffSection {
  width: 100%;
  /*position: relative;*/
  justify-content: center;
  align-items: center;
}
.diffSection .content {
  margin: 10px;
  text-align: center;
  padding: 1.8em 4em;
  font-size: em;
}

.extra {
  width: 100%;
}
.extra p {
  padding: 30px;
  padding-bottom: 150px;
  font-size: 50px;
  text-align: center;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url("images/extra/b1.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: cursive;
  z-index: -9;
}
.smbox {
  display: flex;
  flex-wrap: wrap;
  width: 1fr;
  /* transform: translateY(-100px); */
  justify-content: center;
  margin: 10%;
}
.smbox span {
  margin: 1%;
  background: linear-gradient(to right, #fa4b37, #df2771);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 30px 50px;
  cursor: pointer;
}
.smbox span:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.smbox .data {
  text-align: center;
  font-weight: 200;
  font-size: 80px;
  color: #f6f5f5;
}
.smbox .det {
  text-align: center;
  font-size: 20px;
  color: #f6f5f5;
  font-family: cursive;
}

/*Title*/
.title {
  margin-top: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 3em;
  text-align: center;
  background: linear-gradient(to right, #f94a38, #df286f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

}

/*ABOUT*/
.about-content {
  width: 100%;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  gap: 4em;
}


.about-content .side-text {
  width: 550px;
  padding: 50px 40px;
  background: linear-gradient(to right, #f94a38, #df286f);
  box-shadow: 2px 0 100px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-align: justify;
  color: white;
  line-height: 22px;
  opacity: 0;
  transform: translateX(-100px);
  transition: 1s ease-in-out;
}
.about-content .side-text-appear {
  opacity: 1;
  transform: translateX(0px);
}
.about-content .side-text h2 {
  padding: 10px;
}
.about-content .side-text p {
  padding: 10px;
}
.about-content .side-image img {
  width: 90%;
  border-radius: 5px;
}
.sideImage {
  transform: translateX(100px);
  opacity: 0;
  transition: 0.8s ease-in-out;
}
.sideImage-appear {
  opacity: 1;
  transform: translateX(0px);
}

div.card.modified-card {
  width: 18rem;
  height: 408px;
  border: none;
  transition: box-shadow 0.3s ease; /* Smooth hover effect */
}

div.card.modified-card:hover {
  box-shadow: 2px 8px 20px rgba(250, 75, 55, 0.5),
    2px 8px 20px rgba(223, 39, 113, 0.3);
}

/*POPULAR SUBJECTS*/
/* .cbox {
	position: relative;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}
.cbox .det {
	width: 250px;
	height: 80px;
	margin: 10px;
	background: #fff;
	cursor: pointer;
}
.cbox .det a{
	justify-content: space-around;
	width: 250px;
	padding: 28px;
	border-radius: 10px;
	border: 1px solid #FA4B37;
	font-size: 15px;
	color: #272529;
	font-family: cursive;
	text-decoration: none;
}
.cbox .det a:hover {
	background: linear-gradient(to right, #FA4B37, #DF2771);
	color: white;
}
.cbox .det a:hover img{
	filter: brightness(100);
}
.cbox img {
	width: 20px;
	margin-right: 20px;
} */

.btn.btn-primary {
  background: linear-gradient(to right, #fa4b37, #df2771);
  border: none;
}

.card.modified-card:hover {
  box-shadow: 0px 12px 24px rgba(250, 75, 55, 0.5);
}

.course {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 4em;
  gap: 2em;
}

/*Contact Us Section*/
.csec {
  background: linear-gradient(to right, #fa4b37, #df2771);
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 250px;
  top: 200px;
  content: "";
  transform-origin: top right;
  transform: skewY(-10deg);
  z-index: -1;
}
.back-contact {
  margin-top: 0px;
  transform: translateY(-50px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cc {
  width: 50%;
  height: 620px;
  border-radius: 10px;
  justify-content: center;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
  background: #fff;
}

/* .cc form center {
	margin-right: 10px;
	 width: 175px;
} */

.cc form {
  margin: 5%;
  margin-top: 40px;
  width: 90%;
  height: 90%;
}
.cc form label {
  position: absolute;
  color: #2e3d49;
  font-size: 14px;
  font-weight: 800;
}
.cc form input {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px lightgray;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: #2e3d49;
  font-weight: 600;
}
.imp {
  color: red;
}
form textarea {
  width: 100%;
  height: 100px;
  box-shadow: inset 0 0 5px lightgray;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  outline: none;
  color: #2e3d49;
  font-weight: 600;
  padding: 15px;
}
#csubmit {
  margin-top: 20px;
  background: linear-gradient(to right, #fa4b37, #df2771);
  border-radius: 5px;
  border-style: none;
  outline: none;
  width: 100%;
  padding: 15px 25px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}

/*REVIEW SECTION*/
#makeitfull {
  display: flex;
  justify-content: center;
  transform: translateY(35px);
}
#makeitfull img {
  width: 50px;
}
/* .review {
  background: #f8f8f8;
  width: 100%;
}
.rev-container {
  padding: 10px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.rev-container .rev-card {
  /*overflow: hidden;
  width: 467px;
  height: 226px;
  margin-bottom: 40px;
  background: #fff;
  display: flex;
  padding: 10px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
.rev-card:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.identity {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}
.identity img {
  width: 120px;
  height: 120px;
  transition-duration: 0.8s;
  border-radius: 50%;
}
.identity img:hover {
  transform: scale(2.2);
  border-radius: 0px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.identity p {
  width: 150px;
  font-weight: bold;
  color: #2e3d49;
  text-align: center;
}
.identity h6 {
  width: 150px;
  text-align: center;
}
.identity .rating img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}
.rev-cont {
  overflow: hidden;
}
.rev-cont #title {
  padding: 10px;
  color: #2e3d49;
  font-weight: bold;
}
.rev-cont #content {
  padding: 10px;
  font-size: 0.9em;
  color: #2e3d49;
  line-height: 22px;
  text-align: start;
} */

/*FEEDBACK
.title2 {
  position: relative;
  text-align: center;
}
.title2 span {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: #2e3d49;
}
.title2 .shortdesc2 {
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #2e3d49;
  margin-bottom: 10px;
}
.feedbox {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)),
    url("images/extra/b4.jpg");
  background-size: cover;
  padding: 50px 80px;
  background-attachment: fixed;
}
.feed {
  width: 800px;
  height: 450px;
  position: relative;
  border-radius: 10px;
  justify-content: center;
  box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.6), 0 0 80px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.4);
}
.feed form {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.feed form label {
  position: absolute;
  color: #f2f2f2;
  font-size: 10px;
  font-weight: 800;
}
.feed form input,
.feed textarea {
  padding: 15px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px lightgray;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  color: #2e3d49;
  background: #fff9;
  font-weight: 600;
}
.feed form input {
  margin-bottom: 15px;
  width: 100%;
}
.feed form .fname {
  width: 100%;
}
.feed form textarea {
  width: 100%;
  height: 100px;
}
.feed #csubmit {
  margin-top: 25px;
  background: linear-gradient(to right, #fa4b37, #df2771);
  border-radius: 5px;
  border-style: none;
  outline: none;
  width: 100%;
  padding: 15px 25px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
}*/

.carousel-container {
  width: 80%;
  max-width: 1000px;
  position: relative;
  margin: auto;
  overflow: hidden;
  background: transparent;
  filter: drop-shadow(2px 3px 12px white);
}

.carousel-track {
  display: flex;
  padding: 1em;
  height: 500px;
  transition: transform 0.5s ease-in-out;
}

div.card_info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background: linear-gradient(to right, #f94a38, #df286f);
  border: 0.03px solid rgb(217, 216, 216);
  border-radius: 25px;
  width: 100%;
  max-width: 1000px;
  margin: 0 15px;
  flex-shrink: 0;
  text-align: center;
  
  
}

div.card_top {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0 1em;
  border-radius: 25px 25px 0 25px;
}


.card_info .review_Card_img {
  width: 120px;
  height: 120px;
  margin-top: 40px;
  border: 5px solid white;
  border-radius: 50%;
  background: #4884f7;
}

div.card_detail {
  display: flex
  ;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      background: white;
      width: 256%;
      padding: 0 1em;
      border-radius: 12px;
      margin: 2em;
      height: 400px;
      overflow: hidden;
      transition: max-height 0.3s ease;
}

.card_info h3 {
  margin: 15px 0 10px;
  color: #222;
}

.card_info .review_domain{
  font-weight: 200;
  font-size: 1em;
}

.card_info p {
  margin-top: 1em;
  color: #000000;
  font-weight: 200;
  font-size: 15px;
  margin-bottom: 15px;
}

.card button {
  background: linear-gradient(to right, #f94a38, #df286f);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.carousel-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}
.carousel-pagination .dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}
.carousel-pagination .dot.active {
  background-color: #007bff;
}

.card_detail.expanded {
  max-height: 1000px;
}

.nav button {
  position: absolute;
  top: 45%;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #6c63ff;
}

.nav .prev {
  left: 10px;
}

.nav .next {
  right: 10px;
}

/*SCROLLING TEXT*/
.marqu {
  text-align: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

/*FOOTER*/
footer {
  color: #e5e8ef;
  background: #000d;
  padding: 50px 0;
}
footer .footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
footer .social-media img {
  width: 22px;
}
footer .logo {
  width: 180px;
  color: #fff;
}
footer .social-media a {
  margin-right: 10px;
  font-size: 22px;
  text-decoration: none;
}

footer .right-col h1 {
  text-align: center;
  font-size: 26px;
  font-weight: 200;
}

footer .right-col iframe {
  width: 30em;
  height: 300px;
  border: 0;
}

footer .txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  background: #343a40;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
  min-width: 260px;
  margin-top: 20px;
  color: white;
}
footer .btn {
  margin-top: 20px;
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: linear-gradient(to right, #fa4b37, #df2771);
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}
footer .btn:hover {
  opacity: 0.7;
}

.copyright-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

/*PROPERTIES FOR MAKING WEBSITE RESPONSIVE*/
@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }
  .social-media {
    display: flex;
    justify-content: center;
  }
  .logo {
    transition: 1s;
    margin-left: 30%;
  }
  nav ul,
  .srch,
  .get-started {
    display: none;
  }
  .menu {
    display: block;
  }
  nav {
    padding-bottom: 20px;
    border-bottom: 1px solid #0005;
    /* position: fixed; */
    /* top: 0; */
  }
  .quote p,
  .quote h5,
  .play {
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  .quote p {
    font-size: 30px;
  }
 /* review section  */

 div.card_info {
  flex-direction: column;
 }

 .card_info p {
  margin-top: 1em;
  color: #000000;
  font-weight: 200;
  font-size: 10px;
  margin-bottom: 15px;
}

 div.card_detail {
  display: inline;
  width: auto;
  margin: 12px;
  align-items: center;
  background: white;
  border-radius: 12px;
  height: 400px;
  overflow: hidden;
  transition: max-height 0.3s ease;
  .service-container .right-side img {
    width: 90%;
  }
 }

  .title {
    margin-top: 120px;
  }

  .course {
    justify-content: center;
  }

  .rights-text{
    text-align: center;
  }
 
}
@media screen and (max-width: 700px) {
  footer .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
  .svg-image img {
    width: 90%;
    margin: 20px;
    /* align-self: center; */
  }

  footer .right-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .right-col iframe {
    width: 21em;
  }

  footer ul {
    flex-direction: row;
    gap: 20px;
  }

  .cc {
    width: 367px;
    height: 620px;
  }

  .title {
    margin-top: 3em;
  }

  div.card.modified-card {
    box-shadow: 2px 8px 20px rgba(250, 75, 55, 0.5),
      2px 8px 20px rgba(223, 39, 113, 0.3);
  }
}

@media screen and (max-width: 1000px) {
  .feedbox form input,
  .feedbox form .fname {
    width: 100%;
  }
}
