@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}
main {
  width: 100%;
  height: 100%;
}
header {
  height: 5vh;
  /* background: #000; */
}
.black {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
nav {
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1000;
  background: #fff; /* Start with transparent */
  justify-content: space-around;
  transition: 0.5s ease-in-out;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin: 5px 10px;
}
nav ul li a {
  position: relative;
  padding: 0px 10px;
  color: #2e2e2e;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}

nav ul li a::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #fa4b37, #df2771);
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::after {
  transform: scale(1);
}

.active {
  color: #2e2e2e;
  border-radius: 5px;
}
.srch {
  padding: 2px 10px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* background: #0066ff; */
  border: 1px solid;
  border-radius: 20px;
}
.srch img {
  width: 25px;
  cursor: pointer;
}
.srch .search {
  /* padding: 2px 10px; */
  outline: none;
  border: none;
  background: transparent;
}

.get-started {
  margin-left: 50px;
  padding: 5px 20px;
  border: 2px solid rgb(238, 34, 34);
  border-radius: 20px;
  text-decoration: none;

  transition: 0.5s;
  background: linear-gradient(to right, #fa4b37, #df2771);
  color: #fff;
}
.get-started:hover {
  color: #2e2e2e;
  background: #fff;
}
.logo img {
  width: 120px;
  cursor: pointer;
  transition: all 1s;
}

a,
button {
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #2e3d49;
  display: block;
  text-decoration: none;
  text-align: center;
}

/* SIDE MENU */
.menu {
  cursor: pointer;
  width: 25px;
  display: none;
}
.side-menu {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #fa4b37, #df2771);
  position: absolute;
  top: 0;
  transition: 0.8s;
  z-index: 2000;
  transform: translateX(-100%);
}
.side-menu ul {
  margin-top: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 8%;
  /* background: #FA4B37; */
}
.side-menu ul li {
  list-style: none;
  /* background: #009900; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid #fff; */
  /* padding: 10px 0px; */
}
.side-menu ul li:hover a {
  background: #fff;
  color: #df2771;
}
.side-menu ul li a {
  color: #fff;
  width: 100%;
  font-size: 1em;
  /* background: #2E3D49; */
  text-decoration: none;
  padding: 15px 0px;
}
.close img {
  float: right;
  width: 35px;
  cursor: pointer;
  margin: 10px;
}
.user {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.user img {
  width: 10em;
  filter: drop-shadow(0 0px 8px rgba(250, 241, 241, 0.967));
  margin: 0 auto;
  cursor: pointer;
}
.user p {
  color: #fff;
  cursor: pointer;
}
.user img,
.user p {
  opacity: 1;
}

.head-container {
  padding-top: 205px;
  display: flex;
  justify-content: center;
  align-items: top;
  background: linear-gradient(rgba(0, 0, 0, 0.468), rgba(149, 149, 149, 0.299)),
    url("../img/placement_hero5.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  height: 600px;
}

.quote {
  margin-top: 4em;
  width: 100%;
  padding: 0 4em;
  text-align: center; /* optional: center the text */
  transform: translateY(-50px); /* can be adjusted or removed */
}
.quote h5 {
  /* letter-spacing: 2px;
  word-spacing: 2px; */
  font-size: 1.5em;
  margin-top: 20px;
  word-spacing: 3px;
  color: rgb(3, 3, 3);
  line-height: 40px;
}
.quote p {
  align-self: flex-start;
  font-size: 1em;
  background: linear-gradient(to right, #f94a38, #df286f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.quote span {
  font-size: 1em;
}
.quote .play {
  margin-top: 20px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.img-fluid {
  width: 500px;
  border-radius: 15px;
}

.Placed {
  margin-bottom: 3em;
  font-weight: 900;
  display: flex;
  background: linear-gradient(to right, #f94a38, #df286f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  justify-content: center;
  align-items: center;
}

/* company sliding seciton  */

.slider {
  width: 100%;

  height: var(--height);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}
.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1) - 10s
  ) !important;
}
.slider .list .item img {
  width: 100%;
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slider .item:hover {
  filter: grayscale(0);
}
.slider[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}

/* Carousal seciton  */

.PlaceStudent {
  text-align: center;
  margin-top: 7em ;
}

.PlaceStudent h3 {
  font-size: 3em;
  font-family: 'Ancizar Sans';
  background: linear-gradient(to right, #f94a38, #df286f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* .carousel-control-prev-icon ,.carousel-control-next-icon {
  
  background-color: rgb(149, 145, 145);
}

.custom-carousel {
  margin: auto;
  /* border: 2px solid red; 
  background-color: rgb(215, 214, 212);
  margin-bottom: 4em;
  max-width: 1000px;         /* You can adjust this as needed 
  border-radius: 10px;
  overflow: hidden;
}

.custom-carousel .carousel-inner {
  aspect-ratio: 16 / 9;      /* Ensures 16:9 ratio 
  width: 100%;
}

/* .custom-carousel img {
  object-fit: cover;         // Ensures image covers full area 
  width: 100%;
  height: 100%;
} 

div.student_data_container
{
      display: flex ;
      justify-content: center;
      align-items: center;
      margin: 6em 0;
      flex-direction: column;
      padding: 0px 2em;
      gap: 3em;
}
 */

/* placement-seciton */

.slider {
  position: relative;
width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.slider_card {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.cards {
  min-width: 100%; /* Only 1 card visible at a time */
  box-sizing: border-box;
  padding: 14px 0 ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:none;
  border-radius: 10px;
  background: white;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}

.cards img {
  width: 120px;
  border-radius: 50%;
}

.cards-p {
  text-align: center;
}


.buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.btn {
  background: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background: rgba(255, 255, 255, 1);
}

h1 {
  text-align: center;
  margin: 20px 0;
}

/* morquee */
.marqu {
  text-align: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  padding: 10px;
}

/*FOOTER*/
footer {
  color: #e5e8ef;
  background: #000d;
  padding: 50px 0;
}
footer .footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
footer .social-media img {
  width: 22px;
}
footer .logo {
  width: 180px;
  color: #fff;
}
footer .social-media a {
  margin-right: 10px;
  font-size: 22px;
  text-decoration: none;
}

footer .right-col h1 {
  text-align: center;
  font-size: 26px;
  font-weight: 200;
}

footer .right-col iframe {
  width: 30em;
  height: 300px;
  border: 0;
}

footer .txtb {
  flex: 1;
  padding: 18px 40px;
  font-size: 16px;
  background: #343a40;
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
  min-width: 260px;
  margin-top: 20px;
  color: white;
}
footer .btn {
  margin-top: 20px;
  padding: 18px 40px;
  font-size: 16px;
  color: #f1f1f1;
  background: linear-gradient(to right, #fa4b37, #df2771);
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;
  transition: opacity 0.3s linear;
}
footer .btn:hover {
  opacity: 0.7;
}

.copyright-Section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

/*PROPERTIES FOR MAKING WEBSITE RESPONSIVE*/

@media screen and (max-width: 700px) {
  footer .btn {
    margin: 0;
    width: 100%;
    margin-top: 20px;
  }
  .svg-image img {
    width: 90%;
    margin: 20px;
    /* align-self: center; */
  }

  footer .right-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer .right-col iframe {
    width: 21em;
  }

  footer ul {
    flex-direction: row;
    gap: 20px;
  }
}

@media screen and (max-width: 960px) {
  .footer-container {
    max-width: 600px;
  }
  .right-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }
  .social-media {
    display: flex;
    justify-content: center;
  }

  .logo {
    transition: 1s;
    margin-left: 30%;
  }
  nav ul,
  .srch,
  .get-started {
    display: none;
  }
  .menu {
    display: block;
  }
  nav {
    padding-bottom: 20px;
    border-bottom: 1px solid #0005;
    /* position: fixed; */
    /* top: 0; */
  }
  .quote p,
  .quote h5,
  .play {
    align-self: center;
    justify-self: center;
    text-align: center;
  }

  .quote h5 {
    font-size: 0.8em;
  }

  .service-container .right-side img {
    width: 90%;
  }
  .title {
    margin-top: 120px;
  }

  .rights-text {
    text-align: center;
  }
}
